.appa{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.appa .descriptionProductDesktop{
    display: inherit;
}
.appa .descriptionProductDesktop .buttonsDescription{
    text-align: center;
}
.appa .descriptionProductDesktop .buttonsDescription .description{
    border: 2px solid rgba(232, 226, 214, 0);
    border-bottom: none;
    outline: none;
    background: none;
    font-size: 1.4rem;
    color:rgb(189,195,199);
    font-weight: 700;
    padding: 25px 52px 25px 52px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0 10px;
    transition:ease-out .4s ;
}
.appa .descriptionProductDesktop .buttonsDescription .description:hover{
    background-color: rgb(38,42,51);
    border: 2px solid rgb(232,226,214);
    border-bottom: none;
}
.appa .descriptionProductDesktop .descriptionContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    background-color: rgb(38,42,51);
    color: white;
    padding: 78px 38px 72px 69px;
    border-top: 2px solid rgb(232,226,214);
    border-bottom: 2px solid rgb(232,226,214);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -1.7px;
}
.appa .descriptionProductDesktop .descriptionContainer .descriptionColumn{
    margin: 0;
    padding: 0;
    margin-right: 72px;
    font-size: 1rem;
    line-height: 23px;
}