.sales{
    width: 270px;
    height: 505px;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.sales .image{
    height: 335px;
    overflow: hidden;
    border-radius: 8px;
}
.sales .image .imageSales{
    width: 100%;
    display: block;
    
}
.sales .text{
    width: 100%;
    margin-top:30px;
}
.text .textBig, .textTitle, .textText, .textDetails{
    text-align:center;
}
.sales .image .textBig{
    position: absolute;
    font-size: 7.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: -330px;
    margin-left: 45px;
    letter-spacing: -10px;
}
.sales .image .textTitle{
    position: absolute;
    font-size: 1.7rem;
    font-weight: 300;
    color: white;   
    margin-top: -150px;
    margin-left: 85px;
}
.text .textText{

    font-size: 1.3rem;
    letter-spacing: 1px;
    color: black;
    font-weight: 300;
}
.text .textDetails{
    font-size: 1rem;
    margin-top: 5px;
}
.facebookButton{
    width: 100%;
    padding-top: 24px;
}
.facebookButton .facebookText{
    color: rgb(58,91,150);
    font-size: 1.2rem;
}
.MuiButton-outlinedPrimary{
    color: rgb(58,91,150);
    border: 2px solid rgb(58,91,150);
    border-radius: 25px;
}
.MuiButton-root {
    border-radius: 25px !important;
    color: rgb(58,91,150) !important;
    border: 2px solid rgb(58,91,150) !important;
}
.MuiButton-label{
    font-size: 11px;
    font-weight: 500;
}
.MuiButton-label img{
    height: 20px;
    color: rgb(58,91,150);
    filter: invert(33%) sepia(8%) saturate(4055%) hue-rotate(180deg) brightness(98%) contrast(88%);
    margin-right: 21px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary{
    padding: 5px 30px 3px 30px;
    width: 151px;
    margin-left: 59px;
    margin-right: auto;
}