.products{
    width: 100%;
    height: 507px;
    background-color: rgb(38,42,50);
    border-top: 1px solid rgb(102,106,114);
    border-bottom: 1px solid rgb(102,106,114);
    align-items: center;
}

.products .title{
    height: 38px;
    margin: 25px 14px 7px 16px;
    background-color: rgb(38,42,50);
} 

.cardCard{
    height:365px;
    width: 100%;
    border-radius: 10px;
}

.cardImage{
    height:260px;
    overflow: hidden;
}
.cardImage .imgProducts{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px;
}
.cardTitle{
    width: 221px;
    margin-left: auto;
    margin-right: auto;
}
.cardTitle .photoTitle{
    width: 221px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 0.01px;
    color: black;
}
.cardButton{
    align-items: center;
}

.cardButton .buttonCurrency{
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 100%;
    font-weight: 600;
}
.products .card{
    /* overflow: hidden; */
    margin-left: 16px;
    margin-right: 14px;
    height: 365px;
    border-radius: 10px;
}
.slick-list{
    width: 100%;
    height: 365px;

}

.products .title .lineProducts{
    padding: 0;
    margin:0;
    line-height: normal;
    text-align: center;
    position: relative;
    color: white;
    z-index: 999;
}
.products .title .lineProducts::before{
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    position: absolute;
    background: rgb(102,106,114);
    left: 0;
    top: 50%;
    z-index: -2;
}
.products .title .lineProducts::after{
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    position: absolute;
    background: rgb(102,106,114);
    right: 0;
    top: 50%;
    z-index: -2;
}

.title .lineProducts .popularItems{
    background-color: rgb(38,42,50);
    padding-left: 25px;
    padding-right:25px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -.7px;
    color: white;
    z-index: 1000;
}
/* Slider Dots */
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    margin-bottom: -40px;
  }
  .slick-dots li {
    margin: 0 0.25rem;
  }
  .slick-dots li button {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border-radius: 100%;
    background-color:rgb(147,149,153);
    text-indent: -9999px;
  }
  .slick-dots li.slick-active button {
    width: 13px;
    height: 13px; 
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100%;
  }